@model List<DRVR_DATA>
<div id="activeDriverRefresh">
    <div id="activeDriverGrid">
        <div class="container-fluid">
            <div class="panel panel-primary mdl-shadow--4dp">
                <div class="panel-heading panel-title">
                    <div class="mdl-card__title zero-margins">
                        <h5 style="color:white;" class="zero-margins">Active Drivers</h5>
                        <div class="mdl-layout-spacer"></div>
                        <a href="/Driver/_ActiveDriversDashboard" class="btn mdl-button--accent mdl-button--raised refreshDriverButton" data-pxp="true" data-pxp-target="#activeDriverGrid"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>

                </div>
                @Html.Partial("_ActiveDriversList", Model)
            </div>
        </div>
    </div>
</div>

