@model CUST_INVC
@{

}

<div class="panel panel-default box box-primary">
    <div class="panel-heading">
        <h4>Invoice Settlement</h4>
    </div>
    <div class="panel-body">
        @Html.Partial("_InvoiceSettlement",Model)
    </div>
</div>