@model FAQ
@{

}
<div class="container-fluid">
    <section class="content-header">
        <h2>Add New FAQ</h2>
    </section>

    @using (Html.BeginForm("saveNewFaq", "FAQ", null, FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="col-lg-10">
            <div class="box box-primary container-fluid">
                <div class="box-header">
                    <h4 class="col-lg-8">FAQ Details</h4>

                </div>
                <div class="box-body">
                    @Html.Partial("_FAQDetails", Model)
                </div>

                <div class="box-footer">
                    <button class="btn btn-success col-lg-3 col-lg-offset-1" type="submit" style="margin-bottom:2%;" >Save Changes</button>
                </div>
            </div>
        </div>
    }
</div>
@Html.Raw(TempData["toastMessage"])


