@model IPagedList<JOB>
<div id="activeJobsRefresh">
    <div id="activeJobsGrid">
        <div class="container-fluid">
            <div class="panel panel-primary mdl-shadow--4dp">
                <div class="panel-heading panel-title">
                    <div class="mdl-card__title zero-margins">
                        <h5 style="color:white;" class="zero-margins">Active Jobs</h5>
                        <div class="mdl-layout-spacer"></div>
                        <a href="/Jobs/_ActiveJobsDashboard" class="btn mdl-button--accent mdl-button--raised refreshButton" data-pxp="true" data-pxp-target="#activeJobsList"><span class="glyphicon glyphicon-refresh"></span></a>
                    </div>

                </div>
                @Html.Partial("_ActiveJobsList", Model)
            </div>
        </div>
    </div>
</div>

